@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* color-scheme: light dark; */

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	font-size: 10px;
}

html,
body {
	display: flex;
	flex-direction: column;
}

body {
	font-size: 1.4rem;
	font-family: "Inter", sans-serif;
	line-height: normal;
	background-color: #e7f6ff;
}

.main {
	flex: 1 1 auto;
}

.wrapper {
	background-color: #fff;
	margin-block-start: 8.5rem;
}
